<ion-view title="Weight">

	<ion-content class="has-header padding">
		<h1>Weight</h1>

		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">TARA</span>
				<input type="number" placeholder="13000kg" ng-model="peso.tara">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">TOTAL</span>
				<input type="number" placeholder="43000kg" ng-model="peso.total">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">NET</span>
				<input type="number" placeholder="2000kg" ng-model="peso.net">
			</label>
		</div>

	</ion-content>
</ion-view>
