<ion-view title="{{despacho.SEQ}}">
	<ion-content has-header="true" padding="true" class="padding">

		<div class="card">
			<div class="item item-divider">
				Despacho # {{despacho.SEQ}}
			</div>
			<div class="item item-text-wrap">
				<p>Venta SEQ: {{despacho.venta_SEQ}}</p>

				<p>Cliente SEQ: {{despacho.cliente_SEQ}}</p>

				<p>Transporte Empresa SEQ: {{despacho.transporte_empresa_SEQ}}</p>

				<p>Fecha Pedido: {{despacho.fecha_pedido}}</p>

				<p>Fecha Despacho: {{despacho.fecha_despacho}}</p>
			</div>
		</div>

		<div class="row">
			<div ng-repeat="batch in batches">
				<div class="col">
					<div class="card">
						<div class="item item-divider">
							Batch: {{batch.prod_codigo}}
						</div>
						<div class="item ">
							SEQ: {{batch.SEQ}} <br>
							Producto: {{batch.prod_cat}}<br>
							Envase: {{batch.envase}}<br>
							Almacen: {{batch.almacen_codigo}}<br>
							Calidad {{batch.calidad}}
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="button-bar">
			<a class="button" ng-class="'button-assertive'" ng-click="selectDespacho(detail.SEQ)">Truck</a>
			<a class="button" ng-class="'button-balanced'">Batches</a>
			<a class="button" ng-class="'button-energized'">Muestras</a>
			<a class="button" ng-class="'button-assertive'">Fotos</a>
			<a class="button" ng-class="'button-balanced'">Otras</a>
		</div>


		<div class="row row-bottom">
			<button class="button button-dark button-bottom-left" ng-click="selectDespacho(detail.SEQ)">Complete Despacho</button>
		</div>

	</ion-content>
</ion-view>
