<ion-view title="Finalize">

	<ion-content class="has-header padding">

		<div class="row responsive-md">
			<div class="col">
				<div class="card">
					<div class="item item-divider">
						Despacho
					</div>
					<div class="item">
						Venta SEQ: {{despacho.venta_SEQ |zeroPad:4}}<br>
						Cliente SEQ: {{despacho.cliente_SEQ |zeroPad:4}}<br>
						Fecha Pedido: {{despacho.fecha_pedido}}<br>
						Fecha Despacho: {{despacho.fecha_despacho}}<br>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<div class="item item-divider">
						Empresa
					</div>
					<div class="item">
						{{empresa.nombre}} <br>
						{{empresa.contacto}} <br>
						{{empresa.direccion}} <br>
						{{empresa.telefono}} <br>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-divider">
						Camion
					</div>
					<div class="item">
						{{camion.placa_numero}} <br>
						{{camion.placa_pais}} <br>
						{{camion.marca}} <br>
						{{camion.tipo}} <br>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<div class="item item-divider">
						Chofer
					</div>
					<div class="item">
						{{chofer.apellido}} <br>
						{{chofer.nombre}} <br>
						{{chofer.patente}} <br>
						{{chofer.telefono}} <br>
					</div>
				</div>
			</div>

		</div>


		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-icon-left item-button-right">
						<i class="icon" ng-class="{0: 'ion-ios7-close-outline assertive',  1: 'ion-ios7-checkmark-outline balanced'}[pin.admin.status]"></i>
						Admin Signature
						<button class="button button-positive button-outline" ng-click="sign()">Sign</button>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<div class="item item-icon-left item-button-right">
						<i class="icon" ng-class="{0: 'ion-ios7-close-outline assertive',  1: 'ion-ios7-checkmark-outline balanced'}[pin.officer.status]"></i>
						Officer Signature
						<button class="button button-positive button-outline" ng-click="sign()">Sign</button>
					</div>
				</div>
			</div>
		</div>


	</ion-content>
</ion-view>
