@media (min-width: 767px) {
    .menu-content {
        -webkit-transform: translate3d(270px, 0px, 0px) !important;
        width: calc(100% - 270px) !important;
    }

    .menu {
        z-index: 2 !important;
        /* box-shadow: -1px 0 2px rgba(0, 0, 0, .2), 1px 0 2px rgba(0, 0, 0, .2); */
        border-right: lightgrey solid 1px;
    }

    .bar-header button.ion-navicon {
        display: none;
    }
}

.card-photo {
    box-shadow: none;
}

.border-red {
    border: 1px solid salmon;
}

.border-green {
    border: 1px solid forestgreen;
}

.border-yellow {
    border: 1px solid cornflowerblue;
}

.button-bottom-left {
    position: absolute !important;
    right: 40px !important;
    bottom: 40px !important;
}

.item-autocomplete {
    position: static;
    overflow: visible;
}

.input-dropdown {
    position: absolute;
    background: lightgrey;
    border: solid 1px #FFF;
    z-index: 1001;
    overflow: visible;
}

.input-dropdown-menu {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
}

.progressBar {

    height: 119px;
    width: 0%;
    transition: width 0.1s ease;
    background-color: #02be64;
    background-image: -webkit-linear-gradient(top, #3ebe81, #02d974);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3ebe81), to(#02d974));
    position: absolute;
    z-index: -1;
    margin-left: -15px;
    margin-top: -15px;
}

.image-empty {
    height: 152px;
    background-color: lightgrey;
}

.badge-left {
    left: 10px;
    right: auto !important;
}

.list-header {
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: bold;
}

.list-header-title {
}

.list-header-button {
    position: absolute;
    right: 10px;
    top: 0px;
}

.modal {
    top: 20%;
    /*bottom: 40%;*/
}

@media (max-height: 704px) {
    .modal {
        top: 10%;
        bottom: 0%;
    }
}

.card-fixed-width {

    width : 249px;
}

.badge-right {
    right: 10px !important;
}

.title-stretch {
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: solid #cccccc 1px;
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 1px;
    background-color: #F5F5F5;
}

.item-text-left-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.align-left {
    float: left;
}
.align-right {
    float: right;
}

.slider{
    height: 100%;
}

.slider{
    height: 100%;
}

.slider-slide {
    min-height: 200px
}

.modal-photo {
    width: 57%;
}


.list .item.item-accordion {
    line-height: 45px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}
